.tags-input {
	border: 1px solid #0007;
}

.tags-input .input {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: .25rem;

	list-style: none;
}

.tags-input input {
	width: 100%;
	min-width: 6rem;
	padding: 0;

	border: none;
	outline: none;
	background: none;
}

.tags-input .new-tag-input {
	display: flex;
	flex-grow: 1;
}
